/*      CLASS LIST:
flexManWChild
hoverable
titleImage
strongBorder
phraseGen
loginModule
searchBar
search
submit
togggleBar
toggleHolder
toggleHolderText
zipInput
zipBar
*/


/*
COLOR PALETTE: http://www.colourlovers.com/palette/1002423/for_the_betterment?c=1

#FBE671 :'give and get': (a light wheat colored yellow);
#FBC042 :'protection from...?': (a more orangish yellow);
#F56334 :'go society!': (an orange-red---this will be primary accent color!)
#9E4E47 :'Waiting Room': (an oxblood used for secondary accents);
#612B1F :'Nigro LaChapelle': (a dark brown used for background);


*/

body {

  background-color: rgba(214, 204, 169, .89);


}

header {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  background-color: #BA160C;
    border-radius: 25px;
  border: 8px black solid;
}

a:link {
  color: grey;
  text-decoration: none;
}

a:visited {
    color: #F56334;
}

a:hover {
  color: #F56334;
  filter:saturate(200);
}

a:active {
  color: black, opacity: .8;
  text-decoration: none;
}


.flexManWChild {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;

  height: 25vh;
  flex-grow: 1;
  align-items: center;
/*  border-radius: 25px;
  border: 8px grey ridge;
  box-shadow: 0 0 0 2px rgb( 155, 201, 199 );*/

}

.titleImage {
  background-color: #F56334;
  text-align: center;
  height: 10vh;
  width: 75vw;
  border-radius: 25px;
  border: 5px grey ridge;
  text-shadow: 2px 2px 4px #612B1F;
  letter-spacing: 10px;
  font-family: 'Russo One', sans-serif;

}

.titleImage:hover {
  filter:saturate(200);
}

.phraseGen {
  background-color: #FBC042;
  text-align: center;
  height: 6vh;
  width: 45vw;
  border-radius: 9px;
  color: black, opacity: .8;
  border: 3px #FBC042 solid;
  opacity: .80;
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Undergrad-UltraThin', sans-serif;
  font-weight: normal;
  font-style: normal;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;


/*  line-height: 3px;*/
  font-size: 13px;
}

.phraseGen:hover {
    -webkit-filter: invert(100%);
    filter: invert(75%);

}


loginForm {
  display: flex;
  flex-direction: column;
  flex-flow: row;
  justify-content: center;
  align-items: space-around;
  height: 50vh;
  padding: 2vh;



}


nav {
  height: 3vh;
  display: flex;
  flex-direction: column;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #612B1F;
  border-radius: 0 0 25px 25px;

}

.loginModule {
  padding-left: 1vw;
  padding-right: 1vw;
  font-family: 'helvetica', sans-serif;
  text-transform: lowercase;
  color: black, opacity: .8;
  border-radius: 4px;
  border-radius: 0 0 25px 25px;

}

.loginModule:hover {
  filter: drop-shadow(8px 8px 10px red);
}

searchBar {
  height: 10vh;
  display: flex;
  flex-direction: column;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  border: 5px grey dashed;
  margin: 3vh;
}

#search {
  height: 5vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  background: #FBC042;
  border-radius: 28px;
  border: 5px ridge black;


}

#createSubmit {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding: 1vh;
}

displayResults {
  height: 65vh;
  display: flex;
  flex-direction: column;
  flex-flow: row;
  justify-content: flex-end;
  align-items: flex-end;
  border: 5px grey dashed;
  margin: 3vh;
}

#submitButton {
    width: 8vh;
    height: 8vh;
    margin: 5px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: rgb(63, 74, 187);
    border-width:5px;
    border-style:groove;

}

#submitButton:hover {
  filter: drop-shadow(2px 1px 8px #BA160C);
}



.toggleHolder {
  height: 10vh;
  display: flex;
  flex-direction: column;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.toggleHolderText {
  padding: 5px;
  text-transform: lowercase;
  font-family: 'Undergrad-UltraThin', sans-serif;
}

.zipInput::-webkit-input-placeholder {
  font-family: 'Undergrad-UltraThin', sans-serif;
}

.zipInput:-ms-input-placeholder {
  font-family: 'Undergrad-UltraThin', sans-serif;
}

.zipInput:-moz-placeholder {
  font-family: 'Undergrad-UltraThin', sans-serif;
}

.zipInput::-moz-placeholder {
  font-family: 'Undergrad-UltraThin', sans-serif;
}





#zipBar {


  height: 5vh;
  background: #FBC042;
  display: flex;
  flex-direction: column;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  border-radius: 25px;




}

.createHolderText {
  padding: 5px;
  text-transform: lowercase;
  font-family: 'Undergrad-UltraThin', sans-serif;
}

#toggleBar {
  height: 5vh;
  border-radius: 25px;
  border: 5px ridge black;
  background: #F56334;
  display: flex;
  flex-direction: column;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;

}

.createInput {
  width: 50vw;
  height: 3vh;
  border-radius: 25px;
  padding: .5vh;

}

.createInputSubmit {
  width: 30vw;
  height: 3vh;
  border-radius: 25px;
  background: #F56334;
  font-family: 'Undergrad-UltraThin', sans-serif;


}
.createInputSubmit:hover {
-webkit-box-shadow: 9px 10px 14px 0px rgba(0,0,0,0.74);
-moz-box-shadow: 9px 10px 14px 0px rgba(0,0,0,0.74);
box-shadow: 9px 10px 14px 0px rgba(0,0,0,0.74);
}


.createInput::-webkit-input-placeholder {
  font-family: 'Undergrad-UltraThin', sans-serif;
}

.createInput::-ms-input-placeholder {
  font-family: 'Undergrad-UltraThin', sans-serif;
}

.createInput::-moz-placeholder {
  font-family: 'Undergrad-UltraThin', sans-serif;
}

.createInput::-moz-placeholder {
  font-family: 'Undergrad-UltraThin', sans-serif;
}



/*SWITCH START*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}/*SWITCH END*/
